
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import '{reywood:bootstrap3-sass}/bootstrap';

$color-primary: white;
$color-secondary: #1da1f2;
$color-background: #CEE6F3;

.iconApplication {
    width: 40px;
    height: 40px;
}

.logo-entidad {
    max-width: 150px;
    max-height: 150px;
}

.iconApplicationBackground {
    opacity: 0.5;
    width: 250px;
    height: 250px;
}

/* Menú */
.menu {
    background-color: $color-primary;
    color: $color-secondary;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.menutitle{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 7px;
    z-index: 0;
}

.menuButton{
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
    margin-top: 10px;
    z-index: 1;
}

.iconOption {
    @extend .menuButton;
}

/* SlideMenu */
.headerSlideMenu {
    background-color: $color-secondary;
    color: $color-primary;
    height: 80px;
    font-size: 20px;
    padding: 1em;
}

.slideout-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: $color-primary;
    z-index: 100;
}

.slideout-menu .menuItem {
    background-color: transparent;
    color: $color-secondary;
    cursor: pointer;
    font-size: 1.1em;
    padding: 1em;
    display: block;
    width: 100%;
}

.inicio {
    @extend .menuItem;
}

.mensaje-legal {
    @extend .menuItem;
}

.apoyo {
    @extend .menuItem;
}

.base-legal-simple {
    @extend .menuItem;
}

.base-legal {
    @extend .menuItem;
}


.menuItem i {
    margin-right: 17px;
}

.slideout-menu a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
}

.darkPanel {
    height: 100vh;
    width: 100%;
    background-color: rgba(119, 119, 119, 0.78);
    z-index: 2;
    position: fixed;
    top: 0;
}

.oculto {
    display: none;
}

.panel-nmp {
    margin-left: 10px;
    margin-right: 10px;
}

.center-nmp {
    text-align: center;
}

.page-nmp{
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    background-image: url("/icons/nmp.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    background-color: $color-background;
}


.card-nmp {
    @extend .card;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.card-title-nmp {
    font-size: 20px !important;
    @extend .card-title;
}