<template name="menu">
	<div class="menu text-center">

		<button class="iconOption slideout-menu-toggle pull-left"
			data-toggle="collapse" data-target="#login-navbar-collapse">
			<i class="material-icons">menu</i>
		</button>

		<div class="menutitle">
			No más peaje
		</div>

	</div>
</template>


<template name="menuItems">
<div class="slideout-menu">
	
	<div class="headerSlideMenu">
		<img class="iconApplication" src="/icons/nmp.png"/>
		<span>No más peaje</span>
	</div>

	<div class="inicio">
		<span>
			<i class="material-icons pull-left">label</i> 
			Inicio
		</span>
	</div>

	<div class="mensaje-legal">
		<i class="material-icons pull-left">chat_bubble</i> 
		<span>Mensaje legal</span>
	</div>

	<div class="apoyo">
		<i class="material-icons pull-left">supervisor_account</i> 
		<span>Apoyo a la causa</span>
	</div>

	<div class="base-legal-simple">
		<i class="material-icons pull-left">live_help</i> 
		<span>¿Qué tengo que saber?</span>
	</div>

	<div class="base-legal">
		<i class="material-icons pull-left">verified_user</i> 
		<span>Base legal</span>
	</div>
	
</div>

<div class="darkPanel oculto"></div>

</template>