<template name="index">

	<div class="page-nmp"> 

		<div class="card-nmp">
            <div class="card-content">
              	<p>Partimos de la base de que es legal tanto pagar como no pagar.</p>
              	<p>¿Y tú? ¿Seguirás pagando?</p>
            </div> 
        </div>

	</div>

</template>