<template name="apoyo">

	<div class="page-nmp"> 


		<div class="card-nmp">
            <div class="card-content">
            	<span class="card-title-nmp">Necesitamos tu apoyo</span>
		   		<p>Indica tus datos y presta tu apoyo, entre todos terminaremos con el peaje.</p>
            </div> 
        </div>

		<div class="card-nmp">
            <div class="card-content">
              	<p>Actualmente contamos con el apoyo de <b>1.234</b> personas y de las entidades: </p>
          
          		<div class="center-nmp">
	    			<img class="logo-entidad" src="/icons/canalsur.svg"/>
	    			<img class="logo-entidad" src="/icons/masia.png"/>
	    		</div>	

            </div> 
        </div>

	</div>

</template>