<template name="baseLegalSimple">

	<div class="page-nmp"> 

		<div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Por qué se cobra el peaje?</span>
              	<p>Las autopistas son vías públicas sobre las que se impone un peaje para pagar el coste de construcción y un beneficio, una vez alcanzado tal cantidad, su uso pasa a ser libre.</p>
            </div> 
        </div>

        <div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Debo facilitar mi DNI?</span>
              	<p>El personal del peaje no tiene autoridad legal para solicitar su DNI, pero si podrá anotar la matrícula de su vehículo.</p>
            </div> 
        </div>

        <div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Y si el semáforo está en rojo?</span>
              	<p>El semáforo del peaje no está regulado por el reglamento de circulación, por tanto pasar con el semáforo en rojo solo indica que no se ha pagado el peaje.</p>
            </div> 
        </div>

        <div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Es obligatorio parar?</span>
              	<p>Estamos obligados a parar en la cabina de peaje por una señal de tráfico, solo parar, no estamos obligados a realizar el pago.</p>
            </div> 
        </div>

		<div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Y si no me abren la barrera?</span>
              	<p>El personal del peaje no puede retener o bloquear el paso contra su voluntad, si así fuese estarían cometiendo un delito penal de detención ilegal. En tal caso póngase en contacto con el 112.</p>
            </div> 
        </div>

        <div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Me pueden denunciar?</span>
              	<p>La empresa del peaje puede interponer una denucia sin presunción de veracidad, de la misma forma que cualquier ciudadano puede hacerlo, la misma validez que una denuncia común.</p>
            </div> 
        </div>

        <div class="card-nmp">
            <div class="card-content">
              	<span class="card-title-nmp">¿Y si no pago?</span>
              	<p>Sólo te podrán reclamar el pago del peaje vía notificación, si ha facilitado su DNI, pero nunca por vía penal, porque no existe delito.</p> 
		  		<p>Lo más probable es que nunca te reclamen nada, es más caro reclamar que el precio del peaje en sí.</p>
            </div> 
        </div>	

	</div>

</template>