<template name="baseLegal">

	<div class="page-nmp"> 

        <div class="card-nmp">
            <div class="card-content">
              <p>Estamos trabajando para facilitar la información necesaria.</p>
            </div> 
        </div>  

	</div>

</template>