<template name="mensajeLegal">

	<div class="page-nmp"> 

		<div class="card-nmp">
            <div class="card-content">
              	<p>Debes mostrar la grabación al cobrador del peaje, está obligado por ley a abrir la barrera.</p>

              	<br>

              
				<button id="play1">Play1</button>
			  	<button id="stop1">Stop1</button>

			  	<button id="play2">Play2</button>

				<button id="play">Play</button>
			  	<button id="stop">Stop</button>
			  	

              	<div class="center-nmp">
					<audio controls>
						<source src="audit/audit.mp3" type="audio/mpeg">
					</audio>
				</div>

			
            </div> 
        </div>

	</div>

</template>